{% extends "base.html" %}

{% block content %}

  <h1>Olá, seja bem vind@ {{ current_user }}!</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.message.label }}<br>
        {{ form.message() }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>

  <h2>Feed de postagens</h2>
  {% for posts in posts %}
    <p><b>{{ posts.author.username }}</b>
    {% if not current_user.is_following(posts.author) %}
      <a href="{{ url_for('follow', username=posts.author.username) }}">Seguir</a>
    {% else %}
      <a href="{{ url_for('unfollow', username=posts.author.username) }}">Parar de seguir</a></p>
    {% endif %}
    <p>{{ posts.message }}</p>
  {% endfor %}

{% endblock %}
