{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

  <h1>Olá, seja bem vind@ {{ current_user }}!</h1><br>

  <div class="row">
    <div class="col-md-4">
      {{ wtf.quick_form(form) }}
    </div>
  </div><br>

  <h2>Feed de postagens</h2><br>
  {% for posts in posts %}
    <p><img src="{{ posts.author.avatar(25) }}" style="border-radius: 50%;">
      <b>{{ posts.author.username }}</b>
    {% if not current_user.is_following(posts.author) %}
      <a href="{{ url_for('follow', username=posts.author.username) }}">Seguir</a>
    {% else %}
      <a href="{{ url_for('unfollow', username=posts.author.username) }}">Parar
        de seguir</a>
    </p>
    {% endif %}
    <p>{{ posts.message }}</p><br>
  {% endfor %}<br>

  {% if prev_url %}
    <h4><a href="{{ prev_url }}">Postagens recentes</a></h4>
  {% endif %}
  {% if next_url %}
    <h4><a href="{{ next_url }}">Postagens antigas</a></h4>
  {% endif %}

{% endblock %}
